/******************************************
    Alejandro Campa Martínez - UO282874
Descripción de los estilos
******************************************/

/*Especificidad: 012*/
nav a:hover, footer a:hover {
    background-color: #000000;
    color: #f8f8f2;
}

/*Especificidad: 003*/
video, audio, img {
    width: 100%;
}

/* Especificidad: 003 */
header, footer, header a {
    background-color: #f8f8f2;
    color: #000000;
    padding: 2em;
    text-decoration-line: none;
}

/* Especificidad: 001 */
h1 {
    font-family: 'FiraCOde NFM', sans-serif;
    font-size: 3em;
    padding: 1em;
}

/* Especificidad: 002 */
nav a, footer a{
    padding: 1vw;
}


/* Especificidad: 001 */
section a {
    color: #ffffff;
    text-decoration-line: none;
}

/* Especificidad: 001 */
nav {
    width: 100%;
    height: 100%;
    padding: 2em;
}

/* Especificidad: 001 */
body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.25;

    color: #fff;
    background-color: #8b64b3;

} 

/* Especificidad: 001 */
section {
    padding: 2em;
    margin: 1em;

    background-color: #444242;

}

/* Especificidad: 001 */
img {
    width: 50%;
    height: 50%;
}


/* Especificidad: 001 */
ul {
    background-color: #234567;
}

/* Especificidad: 001 */
li {
    background-color: #973859;
}
