/******************************************
    Alejandro Campa Martínez - UO282874
Descripción de los estilos
******************************************/

body {
    /* Text formatting */
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.25;

    /* Changing the color of the texts and the background color */
    color: #fff;
    background-color: #474f74;

} 

section {
    /* Sizing */
    padding: 2em;
    margin: 2em;

    /* Changing the color of the texts and the background color */
    background-color: #444242;

}