/* Especificidad 001 */
nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%; 
}

/* Especificidad 001 */
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Especificidad 000 */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Especificidad 000 */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}