/*Especificidad: 001*/
table {
    width: fit-content;
    border: 0.2em solid #fff;
    border-collapse: collapse;
}

/*Especificidad: 001*/
th {
    background-color: rgb(151, 44, 198);
    color: #fff;
    border: 0.1em solid #fff;
    border-collapse: collapse;
    font-size: 1em;
    font-weight: bold;
}

/*Especificidad: 001*/
td {
    border: 0.1em solid #fff;
    border-collapse: collapse;
    background-color: #961196;
}
